.Lf*
.NERDTree*
.bash*
.cache*
.git*
.ngrok*
.node*
.npm*
.nvm*
.profile
.python*
.shell*
.sudo*
.vim_*
.viminfo
.vscode*
.vsts*
.wget*
.yarn*
.zcomp*
.zsh_*
.zshrc.pre*
.oh-my-zsh/
.ssh/
.vim/
my-dotfiles/
plugins/
bundles/
dev/
wrk/
